<div class="content">
	<div class="sidebar">
		<h3><%= @current_user.login %></h3>
		<a href=""><span class="number"><%= @current_user.following_count %></span> following</a>
		<a href=""><span class="number"><%= @current_user.followers_count %></span> followers</a>
		<a href=""><span class="number"><%= @current_user.statuses.count %></span> tweets</a>
	</div>
	<div class="statuses">
		<% if @current_user %>
			<H2 id="form_label">What's up?</H2>
				<% form_for @status, :url => statuses_url(:login =>@current_user.login) do |f| %>
				  <%= f.error_messages %>
				  <%= f.text_area :content, :size =>"40x2" %><br />

				  <%= f.submit "update" %>

				<% end %>
			<hr/>
		<% end %>
		<h2>Home</h2>
		 <%= render :partial => "status", :collection => @statuses -%>
	</div>
</div>