<div class="status">
	<h3 class="user"><%=h status.user.login%></h3>
	<%= status.content %>
	<div class="date">
		<a href="<%= status_path(:login=>status.user.login, :id=>status.id) %>" id="status_<%= status_counter -%>">
		<%= time_ago_in_words(status.created_at) %> ago </a>
	</div>
</div>