<% content_for :title do -%>
<%=h @user.login -%>
<%end -%>

<div class="content">
	<% if @user == @current_user%>
		<H2 id="form_label">What's up?</H2>
		<% form_for @status, :url => newstatus_url do |f| %>
		  <%= f.error_messages %>
		  <%= f.text_area :content, :size =>"40x2" %><br />

		  <%= f.submit "update" %>
	
		<% end %>
		<hr/>
	<% end %>
	<h2>Home</h2>
	<% @statuses.each do |status| %>
		<div class="status"><span class="user"><%=h @user.login%></span><%=h status.content %></div>
	<% end %>
</div>