<% content_for :title do -%>
<%=h @user.login -%>
<%end -%>

<div class="content">
	<div class="sidebar">
		<% if @current_user && (@user != @current_user) %>
			<% if @following %>
				<%= link_to "Remove", remove_path, :method=>:delete %>
			<% else -%>
				<%= link_to "Follow", follow_path, :method=>:post %>
			<% end %>
		<% end %>
	</div>
	<div class="statuses">
		<h2><%=h @user.login%></h2>
		 <%= render :partial => "status", :collection => @statuses, :locals => {:user=>@user} -%>
	</div>
	
	
</div>

